*,
*::before,
*::after {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --text-font-family: "Roboto", sans-serif;
  --nav-backround-clr: #ececec;
  --first-backround-clr: #2f303a;
  --main-first-backround-clr: #e5e5e5;
  --primary-clr: #ffffff;
  --home-button-clr: #000000;
  --secondary-clr: #212121;
  --link-text-color: #757575;
  --thrid-clr: #2196f3;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-clr);
  width: 1600px;
  margin: 0;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}

.global-header .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.global-header .navigation ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding-top: 25px;
  padding-left: 215px;
  padding-bottom: 24px;
}

.global-header .navigation div {
  display: flex;
}

.global-header .navigation ul li + li {
  margin-left: 50px;
}

.global-header .navigation div a:first-child {
  margin-right: 40px;
  padding-left: 376px;
}

.global-header .navigation div a:last-child {
  padding-right: 215px;
}

.navigation .home-button {
  color: var(--home-button-clr);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.button {
  color: var(--thrid-clr);
}

.navigation a,
.navigation a:visited {
  color: var(--secondary-color);
  background-color: var(--primary-clr);
  font-family: var(--text-font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.navigation a.active {
  color: var(--thrid-clr);
}

.contact a {
  color: var(--link-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.email {
  color: var(--third-clr);
}

.phone {
  color: var(--link-text-color);
}

.home-button :hover,
.home-button :focus,
.global-header .navigation a:hover,
.global-header .navigation a:focus,
.global-header .navigation .phone:hover,
.global-header .navigation .phone:focus,
.main-portofolio .filter-list button:hover,
.main-portofolio .filter-list button:focus,
.global-footer .container .footer-logo:hover,
.global-footer .container .footer-logo:focus {
  color: var(--thrid-clr);
}

.main-portofolio .filter ul {
  margin: 0;
  padding: 94px 542px 50px 542px;
}

.main-portofolio .filter ul li + li {
  margin-left: 8px;
}

.main-portofolio .filter .filter-list li {
  display: inline-flex;
  align-items: center;
}

.main-portofolio .filter button {
  color: var(--secondary-clr);
  font-family: var(--text-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.main-portofolio .filter button.active {
  color: var(--primary-clr);
  background-color: var(--thrid-clr);
  border: none;
  border-radius: 4px;
}

.projects .projects-list h3 {
  color: var(--secondary-clr);
  font-family: var(--text-font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects .projects-list p {
  color: var(--link-text-color);
  font-family: var(--text-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.global-footer {
  background-color: var(--first-backround-clr);
}

.global-footer .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 215px;
}

.global-footer .container .footer-contact {
  display: inline-block;
  flex-direction: column;
  margin: 0px;
  padding-left: 0;
  padding-bottom: 60px;
}

.global-footer .container .footer-logo {
  color: var(--primary-clr);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding-top: 60px;
}

.footer-button {
  color: var(--third-clr);
}
.global-footer .container address {
  color: var(--primary-clr);
  font-family: var(--text-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  padding-top: 28px;
}

.global-footer .container a {
  color: var(--primary-clr);
  font-family: var(--text-font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.global-footer .container ul li {
  padding-top: 12px;
}
